<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/apphead3.ejs %>
</head>


<body>
    <div id="container">

        <h3 id="title">How to Play</h3>
            
        <div id="texthere">
            <p>
                This is an interactive web app where you are able to chat with players from all around the world!
            </p>
            <p>
                You are shown an area on the game screen. With the options underneath the map, you must guess the location.
            </p>

            <p>
                Careful, the quicker you guess the correct answer the more points you get!
            </p>
        </div>
            
        <button id="button1" value="b1" onclick="window.location.href = '/mainmenu';">Back</button>

    </div>
    <p id="credit">image credit: tokyoluv@instagram</p>
</body>

</html>