<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <% include ../partials/apphead.ejs %>
      <style>
        h1 {
          font-family: sans-serif;
          text-align: center;
          margin: 180px 20px 0 20px;
          padding: 20px;
          opacity: 0.8;
        }
        .login {
          border-radius: 70px;
          background-color: lightgrey;
          position: relative;
          width: 30%;
          height: 50%;
          padding: 50px;
          margin: auto;
        }
        #stuff {
          font-family: sans-serif;
          font-size: 20px;
        }
        #username {
          padding: 5px;
          font-family: sans-serif;
          font-size: 15px;
          border-radius: 10px;
          margin: 10px;
        }
        #pwd {
          padding: 5px;
          font-family: sans-serif;
          font-size: 15px;
          border-radius: 10px;
          margin: 10px;
        }
        /* buttons */
        #login {
          padding: 5px;
          font-size: 15px;
          border-radius: 10px;
          margin: 5px;
        }
        #join {
          border-radius: 10px;
          padding: 5px;
          font-size: 15px;
          margin: 5px;
        }
      </style>
  </head>
  <body>
    <div id="container">
        <div id="header">
            <h3 id="title">Not A Web App</h3>
            <br>
            <form id="loginForm" method="post">
                <input type="text" name='userid' placeholder="user id" maxlength="25" required>
                <input type="password" name='password' maxlength="25" placeholder="password" required>
                <br>
                <input type="button" id="login" onclick="loginUser()" value="login"></button>
            </form>

            <h6>don't have an account?</h6>
            <a href="signup"> >> Sign Up << </a>
        </div>


    </div>
    <script>
        //Login user
        function loginUser() {
            document.getElementById('loginForm').action = '/login';
            document.getElementById('loginForm').submit();
        }
    </script>
  </body>
</html>